<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeWindow()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>VER PEDIDO</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">
  <ion-card class="cool-card">

    <ion-item color="tertiary" lines="none">
      <ion-title class="cool-title">Productos Añadidos</ion-title>
      <ion-icon slot="end" name="basket" color="primary"></ion-icon>
    </ion-item>

    <div class="cool-line"></div>
    
    <ion-grid>
      <div *ngFor="let op of order.products" style="padding-top: 8px; padding-bottom: 8px;">
        <ion-row >
          <ion-col size="3">
            <img defaultImage="../assets/images/loading.gif" [lazyLoad]="op.product.images[0]" class="full-image" style="border-radius: 8px;">
          </ion-col>
          <ion-col size="9">
            <div>
              <ion-toolbar lines="none">
                <ion-text class="ion-text-capitalize cool-text">
                  {{op.product.name}} <br>
                </ion-text>
                <ion-text class="ion-text-capitalize cool-text">
                  {{data.getProductPrice(op.product)}} € <br>
                </ion-text>
                <ion-text class="cool-text" style="color: black;">
                  {{op.product.quantity + " " + data.getUnitsText(op.product)}} <br>
                </ion-text>
                <ion-text class="cool-text" style="color: black;">
                  Cantidad: {{op.quantity}} <br>
                </ion-text>

                <ion-icon *ngIf="canModifyOrder(order) && op.quantity > 1"
                class="quantity-button" color="primary" style="right: 12px;" name="remove" (click)="subtractQuantityFromOrder(op)"></ion-icon>

                <ion-icon *ngIf="canModifyOrder(order)" 
                class="quantity-button" color="primary" style="right: 52px;" name="add" (click)="addQuantityToOrder(op)"></ion-icon>
              </ion-toolbar>
            </div>
          </ion-col>
        </ion-row>
        <div class="cool-line"></div>
      </div>
    </ion-grid>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-card class="cool-card sub-card-input">
            <ion-title class="cool-title">Total: {{data.getOrderPrice(order)}} €</ion-title>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="order.state !== 3">
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center" *ngIf="canModifyOrder(order)">
          <ion-button shape="round" fill="outline" lines="none" (click)="updateOrder(order)">
            <ion-text>Guardar Pedido</ion-text>
          </ion-button>
        </ion-col>

        <ion-col size="12" class="ion-text-center" *ngIf="canStartDelivery(order)">
          <ion-button shape="round" fill="outline" lines="none" (click)="startDeliveryConfirm(order)">
            <ion-text>Iniciar Entrega</ion-text>
          </ion-button>
        </ion-col>

        <ion-col size="12" class="ion-text-center" *ngIf="canAssignOrder(order)">
          <ion-button shape="round" fill="outline" lines="none" (click)="assignOrder(order)">
            <ion-text>Asignar Pedido</ion-text>
          </ion-button>
        </ion-col>

        <ion-col size="12" class="ion-text-center" *ngIf="canCloseOrder(order)">
          <ion-button shape="round" fill="outline" lines="none" (click)="closeOrderConfirm(order)">
            <ion-text>Completar Pedido</ion-text>
          </ion-button>
        </ion-col>

        <ion-col size="12" class="ion-text-center" *ngIf="canCancelOrder(order)">
          <ion-button shape="round" fill="outline" lines="none" (click)="cancelOrderConfirm(order)">
            <ion-text>Cancelar Pedido</ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>
