.searchbar {
    color: var(--ion-color-primary);
    border-radius: 32px;
    background: #fff;
    height: 62px;
    --box-shadow: none;
}

.searchbar-container {
    width: 100%;
    padding: 14px;
}
