.cool-button {
    --background: var(--ion-color-primary);
    --border-color: white;
    --box-shadow: none !important;
    font-weight: 600;
    font-size: 14px;
    color: white;
    height: 40px;
    width: 90%;
    text-transform: none;
}
