<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>CONFIGURACION</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <div  *ngIf="viewReady">
    <ion-card class="cool-card">
      <ion-item color="tertiary" lines="none">
        <ion-title class="cool-title">General</ion-title>
        <ion-icon slot="end" name="options" color="primary"></ion-icon>
      </ion-item>
  
      <div class="cool-line"></div>
  
      <!-- ORDER MINIMUM PRICE -->
      <ion-item lines="none">
        <ion-text class="cool-subtitle">Precio Minimo de Pedidos</ion-text>
        <ion-icon slot="end" name="calculator" color="primary"></ion-icon>
      </ion-item>
  
      <ion-range class="cool-range" min="0" max="200" step="10" snaps="true" pin="true" [value]="appConfiguration.minimumOrderPrice" color="secondary" (ionChange)="setMinimumOrderPrice($event)">
        <ion-text class="cool-text" slot="end">{{appConfiguration.minimumOrderPrice}}</ion-text>
      </ion-range>
  
      <div class="cool-line"></div>

      <ion-grid class="grid" style="padding-top: 0px; margin-top: 32px; margin-bottom: 32px;">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="cool-button" shape="round" color="secondary" routerLink="/menu/configuration/users">
              Editar Usuarios
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="cool-button" shape="round" color="secondary" (click)="saveChanges()">
              Guardar Cambios
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> 

    </ion-card>

    <ion-card class="cool-card">
      <ion-item color="tertiary" lines="none">
        <ion-title class="cool-title">Editar Inicio</ion-title>
        <ion-icon slot="end" name="home" color="primary"></ion-icon>
      </ion-item>
  
      <div class="cool-line"></div>

      <!-- INICIO -->
      <ion-item lines="none">
        <ion-text class="cool-subtitle">Descripcion</ion-text>
        <ion-icon slot="end" name="book" color="primary"></ion-icon>
      </ion-item>
    
      <ion-card class="cool-card sub-card-input" style="margin-bottom: 32px; padding: 8px;">
        <ion-textarea 
        rows="8"
        placeholder="Escribe Descripcion"
        class="cool-text" 
        style="white-space: pre-wrap;"
        [(ngModel)]="description"
        style="height: auto;"></ion-textarea>
      </ion-card>

      <div class="cool-line"></div>

      <ion-item lines="none">
        <ion-text class="cool-subtitle">Horario</ion-text>
        <ion-icon slot="end" name="calendar" color="primary"></ion-icon>
      </ion-item>

      <ion-grid style="margin-bottom: 16px;">
        <ion-row *ngFor="let day of schedule index as i" 
        style="padding: 4px 16px 4px 16px;" 
        (click)="editDay($event, day)">
          <ion-col size="12">
            <div class="cool-text ion-text-start" style="display: inline-block; width: 50%;">
              <ion-text>{{day.name}}</ion-text>
            </div>
            <div class="cool-text ion-text-end" style="display: inline-block; width: 50%;">
              <ion-text>{{getWorkHours(day)}}</ion-text>
            </div>
            <div class="cool-line" style="margin-top: 16px;"></div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="grid" style="padding-top: 0px; margin-top: 32px; margin-bottom: 32px;">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="cool-button" shape="round" color="secondary" (click)="saveChanges()">
              Guardar Cambios
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </ion-card>

    <!-- CONTACTO -->
    <ion-card class="cool-card">
      <ion-item color="tertiary" lines="none">
        <ion-title class="cool-title">Editar Contacto</ion-title>
        <ion-icon slot="end" name="person" color="primary"></ion-icon>
      </ion-item>
  
      <div class="cool-line"></div>

      <ion-item lines="none">
        <ion-text class="cool-subtitle">Telefonos</ion-text>
        <ion-icon slot="end" name="phone" color="primary"></ion-icon>
      </ion-item>
    
      <ion-item *ngFor="let phone of phones">
        <ion-input placeholder="Escribe el Numero" type="text" [(ngModel)]="phone.number"></ion-input>
        <ion-icon slot="end" name="trash" color="primary" (click)="deletePhone(phone)"></ion-icon>
      </ion-item>

      <ion-grid class="grid" style="padding-top: 0px; margin-top: 32px; margin-bottom: 32px;">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="cool-button" shape="round" color="secondary" (click)="addPhone()">
              Añadir Telefono
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> 

      <div class="cool-line"></div>

      <ion-item lines="none">
        <ion-text class="cool-subtitle">Direccion</ion-text>
        <ion-icon slot="end" name="map" color="primary"></ion-icon>
      </ion-item>
    
      <ion-card class="cool-card sub-card-input" style="margin-bottom: 16px; padding: 8px;">
        <ion-textarea 
        rows="4"
        placeholder="Escribe Direccion"
        class="cool-text" 
        style="white-space: pre-wrap;"
        [(ngModel)]="address"
        style="height: auto;"></ion-textarea>
      </ion-card>

      <ion-grid class="grid" style="padding-top: 0px; margin-top: 32px; margin-bottom: 32px;">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="cool-button" shape="round" color="secondary" (click)="saveChanges()">
              Guardar Cambios
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </ion-card>
    
  </div>

</ion-content>
