<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeView()">
        <ion-icon slot="icon-only" name='close' color='light' style="font-size: 25px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ASIGNAR PRODUCTO</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">
  <!-- SEARCHBAR -->
  <searchbar [text]="searchbar" (textChanged)="search($event)"></searchbar>

  <div *ngIf="viewReady">
    <div *ngFor="let product of filteredProducts()" >
      <ion-item (click)="assignProduct(product)" color="primary">
        <ion-avatar slot="start">
          <img [src]="product.images[0]">
        </ion-avatar>
        <ion-text class="cool-text" style="color: white;">{{product.name}}</ion-text>
      </ion-item>
    </div>

    <ion-infinite-scroll id="infiniteScroll" threshold="60px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content class="loading-spinner" loadingSpinner="crescent">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div 
    class="animate__animated animate__fadeInUp ion-text-center" 
    style="padding: 0 25% 0 25%; margin-top: 16px; margin-bottom: 32px;"
    *ngIf="allDataLoaded">
      <ion-button class="cool-button" shape="round" color="secondary" (click)="scrollToTop()">
        Ir al Inicio
        <ion-icon slot="end" name="arrow-up"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
