<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeWindow()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{getTitleText()}}</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">
  <ion-card class="cool-card">

    <ion-item color="tertiary" lines="none">
      <ion-title class="cool-title">Añadir Imagenes</ion-title>
      <ion-icon slot="end" name="images" color="primary"></ion-icon>
    </ion-item>

    <div class="cool-line"></div>

    <!-- IMAGENES -->
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-input 
                type="file" 
                accept="image/*" 
                multiple 
                style="position: absolute; opacity: 0;" 
                (change)="chooseImages($event)" 
                required></ion-input>

                <ion-card 
                *ngIf="selectedImages !== null"
                class="category-bar" 
                button>
                  <ion-text>Subir Imagenes</ion-text>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>

          <div *ngIf="!isImageUploaded() && viewReady">
            <img src="../assets/images/add.png" height="100px" style="display: inline;">
          </div>
        </ion-col>

        <div *ngIf="isImageUploaded() && viewReady">
          <ion-row class="ion-align-items-center">
            <ion-col size="4" class="ion-text-center" style="margin: 0; padding: 0;" *ngFor="let image of productRealTime.images">
              <ion-card class="cool-card sub-card-input" style="padding-bottom: 0;" (click)="imageOptions($event, image)">
                <img [src]="image">
              </ion-card>
            </ion-col>
            <ion-col size="4" class="ion-text-center" style="margin: 0; padding: 0;" *ngFor="let image of newImages">
              <ion-card class="cool-card sub-card-input" style="padding-bottom: 0;">
                <img src="../assets/images/upload.png">
                <div class="spinner-container">
                  <ion-spinner class="spinner" color="primary"></ion-spinner>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- GENERAL -->
  <ion-card class="cool-card">
    <ion-item lines="none">
      <ion-text class="ion-text-capitalize cool-title">
        Informacion General
      </ion-text>
      <ion-icon slot="end" name="list" color="primary"></ion-icon>
    </ion-item>

    <div class="cool-line"></div>

    <ion-card class="cool-card sub-card-input">
      <ion-card-content class="ion-text-capitalize cool-text">
        Nombre: <br>
        <ion-textarea placeholder="Escribe Nombre" type="text" [(ngModel)]="product.name"></ion-textarea>
      </ion-card-content>
    </ion-card>

    <ion-card class="cool-card sub-card-input">
      <ion-card-content class="ion-text-capitalize cool-text">
        Descripcion: <br>
        <ion-textarea placeholder="Escribe Descripcion" type="text" [(ngModel)]="product.description"></ion-textarea>
      </ion-card-content>
    </ion-card>

    <ion-card class="cool-card sub-card-input">
      <ion-card-content class="ion-text-capitalize cool-text">
        Precio: <br>
        <ion-input placeholder="Escribe Precio" type="number" [(ngModel)]="product.price"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card class="cool-card sub-card-input">
      <ion-card-content class="ion-text-capitalize cool-text">
        Cantidad: <br>
        <ion-input placeholder="Escribe Cantidad" type="number" [(ngModel)]="product.quantity"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card class="cool-card sub-card-input">
      <ion-card-content class="cool-text">
        Tipo de Unidad: <br>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-card 
              class="category-bar" 
              button
              (click)="selectUnit()">
                <ion-text>{{getUnitsText()}}</ion-text>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-card>

  <!-- PROMOCION -->
  <ion-card class="cool-card">
    <ion-item lines="none">
      <ion-text class="ion-text-capitalize cool-title">
        Promocion
      </ion-text>
      <ion-icon slot="end" name="notifications" color="primary"></ion-icon>
    </ion-item>

    <div class="cool-line"></div>

    <ion-card class="cool-card sub-card-input">
      <ion-card-content class="ion-text-capitalize cool-text">
        Precio en Oferta: <br>
        <ion-input placeholder="Escribe Precio" type="number" [(ngModel)]="product.salePrice"></ion-input>
      </ion-card-content>
    </ion-card>

    <ion-card class="cool-card sub-card-input">
      <ion-item lines="none">
        <ion-text>Activar Oferta:</ion-text>
        <ion-toggle [(ngModel)]="product.sale" slot="end" color="primary"></ion-toggle>
      </ion-item>
      <ion-item lines="none">
        <ion-text>Producto Destacado:</ion-text>
        <ion-toggle [(ngModel)]="product.featured" slot="end" color="primary"></ion-toggle>
      </ion-item>
    </ion-card>
  </ion-card>

  <!-- CATEGORIAS -->
  <ion-card class="cool-card">
    <ion-item lines="none">
      <ion-text class="ion-text-capitalize cool-title">
        Categorias
      </ion-text>
      <ion-icon slot="end" name="basket" color="primary"></ion-icon>
    </ion-item>

    <div class="cool-line"></div>

    <ion-card class="cool-card sub-card-input">
      <ion-card-content class="ion-text-capitalize cool-text">

        <ion-grid>

          <ion-row>
            <ion-col size="12">
              <ion-card 
              class="category-bar" 
              button
              (click)="selectCategory()">
                <ion-text>{{getCategoryText()}}</ion-text>
              </ion-card>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col size="12">
              <ion-card 
              class="category-bar" 
              button
              (click)="selectSubcategory()" 
              [disabled]="!isCategoryActivated()">
                <ion-text>{{getSubcategoryText()}}</ion-text>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-center" size="12">
              <ion-card 
              class="category-bar" 
              button
              (click)="updateCategories()">
                <ion-text>Editar Categorias</ion-text>
              </ion-card>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>

    <div>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="product-button" shape="round" fill="outline" lines="none" (click)="saveProduct()">
              <ion-text class="ion-text-left" style="margin-right: auto;">Guardar Cambios</ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>
</ion-content>
