.category-bar {
    --ion-background-color: var(--ion-color-primary);
    border-radius: 32px;
    border-width: 2px; 
    border-color: var(--ion-color-tertiary);
    border-style: solid;
    box-shadow: none;
    margin: 0;
    padding: 4px 16px 4px 16px;

    ion-text {
        font-size: 16px;
        color: var(--ion-color-tertiary);
    }
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.spinner {
    position: absolute; 
    top: calc(50% - 40px); 
    left: calc(50% - 40px); 
    width: 80px !important; 
    height: 80px !important;
}
