<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeView()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ASIGNAR PEDIDO</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <div *ngIf="viewReady">

    <!-- SEARCHBAR -->
    <searchbar [text]="searchbar" (textChanged)="search($event)"></searchbar>

    <ion-card class="cool-card" *ngFor="let user of searchUsers() index as i" (click)="assignOrder(user)">
      <ion-toolbar class="ion-padding cool-text" style="padding-bottom: 0;" lines="none">
        <ion-text>{{user.username}}</ion-text> <br>
        <ion-text>{{user.email}}</ion-text> <br><br>
        <ion-text>ASIGNAR PEDIDO</ion-text> 

        <ion-icon class="quantity-button" color="primary" name="arrow-right" ></ion-icon>
      </ion-toolbar>
    </ion-card> 
  </div>

</ion-content>
