<!-- HEADER -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeWindow()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>CREAR CATEGORIAS</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <ion-card class="cool-card">
    <ion-card-content class="ion-text-capitalize cool-text">

      Categorias: <br>

      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-item lines="none" color="primary" class="ion-text-center input">
              <ion-input type="text" name="category" placeholder="Añadir Categoria" [(ngModel)]="newCategory"></ion-input>
              <ion-icon slot="end" name="add" color="tertiary" (click)="createCategory()"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-card 
            [disabled]="!categoriesExist()"
            class="category-bar" 
            button
            (click)="selectCategory()">
              <ion-text class="ion-text-capitalize">{{getCategoryText()}}</ion-text>
            </ion-card>
          </ion-col>

          <ion-col size="2" style="padding: 0; margin: 0;">
            <ion-card 
            button 
            color="tertiary"
            class="ion-text-center sub-card-input" 
            style="padding: 0; border-style: none;" 
            (click)="deleteCategoryConfirm()"
            [disabled]="!isCategoryActivated()">
              <ion-icon style="font-size: 20px;" color="primary" name="trash"></ion-icon>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      Subcategorias: <br>

      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-item lines="none" color="primary" class="ion-text-center input" [disabled]="!isCategoryActivated()">
              <ion-input type="text" name="category" placeholder="Añadir Subcategoria" [(ngModel)]="newSubcategory"></ion-input>
              <ion-icon slot="end" name="add" color="tertiary" (click)="createSubcategory()"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" *ngFor="let subcategory of getSubcategories(); index as i">
            <ion-card class="category-bar">
              <ion-text>{{subcategory.text}}</ion-text>
              <ion-icon style="position: absolute; right: 5%; font-size: 24px; color: white;" name="close" (click)="deleteSubcategoryConfirm(i)"></ion-icon>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
