<div *ngIf="products.length > 0">
  <div style="padding: 8px 16px 8px 16px; " *ngIf="title"> 
    <ion-title 
    class="cool-title" 
    style="color: white; font-size: 28px; display: block; margin-top: 8px; margin-bottom: 8px;">
      {{title}}
    </ion-title>
    <div class="cool-line" style="background-color: white;"></div>
  </div>
  
  <!-- PRODUCTS -->
  <ion-slides [options]="pso">
    <ion-slide *ngFor="let productRow of getProductRows()" style="height: 100%;">
      <ion-grid class="products-grid">
        <ion-row class="ion-align-items-stretch">
          <ion-col size="6" class="ion-text-center align-self-stretch product-col" *ngFor="let product of productRow; index as i">
            <ion-card 
            class="cool-card" 
            [class.featured-product]="product.featured" 
            [class.sale-product]="product.sale"
            style="border-top-left-radius: 0px;">
              <div 
              *ngIf="product.sale"
              style="position: absolute; left: 0px; top: 0px; width: 50px; height: 35px; padding-left: 8px; background: crimson;">
                <ion-row class="ion-align-items-center">
                  <ion-col size="12" class="ion-text-center">
                    <ion-text class="cool-text" style="color: white;">{{getProductSalePercentage(product)}}%</ion-text>
                  </ion-col>
                </ion-row>
              </div>
  
              <div (click)="openProduct(product)">
                <img [src]="getProductImage(product)" class="full-image">
              </div>
  
              <div *ngIf="product.featured">
                <ion-text class="cool-text" style="display: block; font-size: 12px; color: orangered;">DESTACADO</ion-text>
              </div>
  
              <div class="cool-line"></div>
  
              <ion-toolbar lines="none">
                <div *ngIf="product.category !== '' && product.subcategory !==''"
                style="padding-top: 4px; padding-bottom: 4px;" button>
                  <ion-text 
                  class="ion-text-capitalize cool-text"
                  style="color: black;">
                    {{product.category}}
                  </ion-text>
                  <ion-text 
                  *ngIf="product.subcategory !== ''"
                  class="ion-text-capitalize cool-text"
                  style="color: black;">
                    {{" > "+product.subcategory}}
                  </ion-text>
                </div>
                <div class="cool-line" style="margin-bottom: 8px;"></div>
  
                <ion-text class="ion-text-capitalize cool-text">
                  {{product.name}} <br>
                </ion-text> 
                <ion-text class="cool-text" style="color: black;">
                  {{product.quantity + " " + getUnitsText(product)}} <br>
                </ion-text>
                <ion-text *ngIf="product.sale" class="ion-text-capitalize cool-text" style="text-decoration: line-through; color: gray;">
                  {{product.price+"  "}}
                </ion-text>
                <ion-text class="ion-text-capitalize cool-text">
                  {{getProductPrice(product)}} €
                </ion-text>
              </ion-toolbar>
  
              <div style="height: 64px;"></div>
              <div style="position: absolute; bottom: 8px; left: 4%; width: 90%;">
                <ion-button class="product-button" shape="round" fill="outline" lines="none" (click)="addToCart(product)">
                  <ion-text class="ion-text-left" style="margin-right: auto;">Añadir</ion-text>
                  <ion-icon name="cart" slot="end" color="primary"></ion-icon>
                </ion-button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</div>
