.grid {
    padding: 10% 10% 0 10%;
}

.avatar {
    margin-left: auto; 
    margin-right: auto; 
    width: 128px;
    height: 128px;
    border-radius: 50%;
}
.SILLA {
/* SILLA PLEGABLE */
position: absolute;
width: 120px;
height: 120px;
left: 11px;
top: 500px;
}
.MESA {
    /* SILLA PLEGABLE */
    position: absolute;
    width: 120px;
    height: 120px;
    left: 150px;
    top: 500px;
    }
.DESPEGABLE {
        /* SILLA PLEGABLE */
        position: absolute;
        width: 120px;
        height: 120px;
        left: 290px;
        top: 500px;
        }