.product-button {
    height: 36px;
    width: 100%;
}

.product-col {
    padding: 0;
    margin: 0;
}

.category-button {
    //--background: var(--ion-color-primary);
    --border-color: white;
    --box-shadow: none !important;
    font-size: 14px;
    color: white;
    width: 90%;

    .button-inner {
        flex-flow: column;
    }
}

.category-bar {
    --ion-background-color: var(--ion-color-primary);
    border-radius: 32px;
    border-width: 2px; 
    border-color: var(--ion-color-tertiary);
    border-style: solid;
    box-shadow: none;
    margin: 0;
    padding: 4px 16px 4px 16px;

    ion-text {
        font-size: 16px;
        color: var(--ion-color-tertiary);
    }
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
    ion-col {
        display: flex;
    }

    ion-card {
        width: 100%;
    }
}

.featured-product {
    border-color: var(--ion-color-secondary);
    border-style: solid;
    border-width: 1px;
}

.sale-product {
    border-color: crimson;
}

.loading-spinner {
    --color: white;
}