<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-button 
      class="cool-button" 
      style="width: 100%;"
      shape="round" color="secondary"
      (click)="selectCategory()">
        <ion-text>{{getCategoryText()}}</ion-text>
      </ion-button>
    </ion-col>
    
    <ion-col size="12">
      <ion-button 
      class="cool-button"
      style="width: 100%;"
      shape="round" color="secondary"
      (click)="selectSubcategory()" 
      [disabled]="!isCategoryActivated()">
        <ion-text>{{getSubcategoryText()}}</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>