<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff;"></ion-menu-button>
    </ion-buttons>
    <ion-title>USUARIOS</ion-title>
  </ion-toolbar>
  <div class="cool-line"></div>
</ion-header>

<ion-content class="cool-content">

  <div *ngIf="viewReady">

    <!-- SEARCHBAR -->
    <div class="searchbar-container">
      <ion-searchbar 
      [(ngModel)]="searchbar"
      class="searchbar" 
      showCancelButton="focus" 
      placeholder="Buscar" 
      animated cancelButtonIcon="close"
      debounce="25"></ion-searchbar>
    </div>

    <ion-card 
    class="cool-card"
    *ngFor="let user of searchUsers() index as i">
      <ion-toolbar class="ion-padding cool-text" style="padding-bottom: 0;" lines="none">
        <ion-text>{{user.username}}</ion-text> <br>
        <ion-text>{{user.email}}</ion-text> 

        <ion-icon *ngIf="isAdmin()" class="quantity-button" color="primary" name="person-circle" (click)="getUser(user.id)"></ion-icon>
      </ion-toolbar>
    </ion-card> 
  </div>

</ion-content>
